// -------------------------------------
//   Base
// -------------------------------------
// ----- Global defaults for Base-level tags (body, p, etc.)
// -------------------------------------

// ----- Uncomment if project will be using rems ----- //
// html {
//   font-size: 62.5%;
// }
