// -------------------------------------
//   Helpers
// -------------------------------------
// ----- Placeholders, Extends, Mixins, and Functions
// -------------------------------------

// -------------------------------------
//   Placeholders
// -------------------------------------

// Image Replacement
%ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

%ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

// Clearfix
%clearfix:before,
%clearfix:after {
  // The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class.
  content: " ";
  // The use of `table` rather than `block` is only necessary if using :before to contain the top-margins of child elements.
  display: table;
}

%clearfix:after {
  clear: both;
}

%clearfix {
  // For IE 6/7 only - Include this rule to trigger hasLayout and contain floats
  *zoom: 1;
}

// -------------------------------------
//   Functions
// -------------------------------------


// -------------------------------------
//   Mixins
// -------------------------------------


// -------------------------------------
//   Utilities
// -------------------------------------