// - - - - - - - - - - - - - - - - - - -
// - - settings
// @font-face declarations, variables


// - - - - - - - - - - - - - - - - - - -
// - - @font-face
// add fonts to project as needed by updating the $fonts map below in the following format -
// 'font-family-name': 'font-weight'

// $fonts: (
//   'font-family-one': ('font-one-light', 'font-one-dark'),
//   'font-family-two': ('font-two-light','font-two-medium')
// );

// @each $font-family, $font-weights in $fonts {
//   @each $font-weight in $font-weights {
//     @font-face {
//       name: $font-weight;
//       src:
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.eot?#iefix') format('embedded-opentype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.woff') format('woff'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.ttf') format('truetype'),
//         url('/path/to/fonts/#{$font-family}/#{$font-weight}.svg##{$font-weight}') format('svg');
//     }
//   }
// }

// - - - - - - - - - - - - - - - - - - -
// - - variables

// - - colors

// - - typography

// - - grid
