// -------------------------------------
//   Skin
// -------------------------------------
// ----- Global skin classes (gradients, colors, box-shadows, etc).
// -------------------------------------
