@charset 'utf-8';

// - - css-burrito v1.6 | mit license | github.com/jasonreece/css-burrito

// - - - - - - - - - - - - - - - - - - -
// - - application.scss
// contains an import section for libs, global, and modules, the inbox,
// and a shame section for quick fixes and hacks.

// - - variable overrides for 3rd party libraries
@import 'libs/library-variable-overrides';

// - - - - - - - - - - - - - - - - - - -
// - - libs
// add 3rd party libraries here.
// be sure to load them after the variable overrides file

// - - - - - - - - - - - - - - - - - - -
// - - global

// - - global/settings
// sass variables and maps
@import 'global/settings';

// - - global/utilities
// extends, functions, and mixins
@import 'global/utilities';

// - - global/base
// base-level tags (body, p, etc.)
@import 'global/base';

// - - global/layout
// margin, padding, sizing
@import 'global/layout';

// - - global/skin
// backgrounds, borders, box-shadow, etc
@import 'global/skin';

// - - global/typography
// fonts and colors
@import 'global/typography';

// - - - - - - - - - - - - - - - - - - -
// - - modules
// add new modules to the modules/_modules.scss file and they'll get pulled in here.
@import 'modules/modules';

// - - - - - - - - - - - - - - - - - - -
// - - inbox
// the inbox allows developers, and those not actively working on the project
// to quickly add styles that are easily seen by the maintainer of the file.

// - - - - - - - - - - - - - - - - - - -
// - - shame
// need to add a quick fix, hack, or questionable technique?  add it here, fix it later.
