// -------------------------------------
// - Example-module Module
// -------------------------------------
// ----- Styles for the Example-module Module
// -------------------------------------

// -------------------------------------
//   Layout

//    LLLLLLLLLLL
//    L:::::::::L
//    L:::::::::L
//    LL:::::::LL
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L
//      L:::::L         LLLLLL
//    LL:::::::LLLLLLLLL:::::L
//    L::::::::::::::::::::::L
//    L::::::::::::::::::::::L
//    LLLLLLLLLLLLLLLLLLLLLLLL
//
// -------------------------------------


// -------------------------------------
//   Skin

//
//      SSSSSSSSSSSSSSS
//    SS:::::::::::::::S
//   S:::::SSSSSS::::::S
//   S:::::S     SSSSSSS
//   S:::::S
//   S:::::S
//    S::::SSSS
//     SS::::::SSSSS
//       SSS::::::::SS
//          SSSSSS::::S
//               S:::::S
//               S:::::S
//   SSSSSSS     S:::::S
//   S::::::SSSSSS:::::S
//   S:::::::::::::::SS
//    SSSSSSSSSSSSSSS
//
// -------------------------------------


// -------------------------------------
//   Typography

//   TTTTTTTTTTTTTTTTTTTTTTT
//   T:::::::::::::::::::::T
//   T:::::::::::::::::::::T
//   T:::::TT:::::::TT:::::T
//   TTTTTT  T:::::T  TTTTTT
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//           T:::::T
//         TT:::::::TT
//         T:::::::::T
//         T:::::::::T
//         TTTTTTTTTTT
//
// -------------------------------------


// -------------------------------------
//   Components

//
//
//           CCCCCCCCCCCCC
//        CCC::::::::::::C
//      CC:::::::::::::::C
//     C:::::CCCCCCCC::::C
//    C:::::C       CCCCCC
//   C:::::C
//   C:::::C
//   C:::::C
//   C:::::C
//   C:::::C
//   C:::::C
//    C:::::C       CCCCCC
//     C:::::CCCCCCCC::::C
//      CC:::::::::::::::C
//        CCC::::::::::::C
//           CCCCCCCCCCCCC
//
// -------------------------------------


// -------------------------------------
//   States

//
//      SSSSSSSSSSSSSSS
//    SS:::::::::::::::S
//   S:::::SSSSSS::::::S
//   S:::::S     SSSSSSS
//   S:::::S
//   S:::::S
//    S::::SSSS
//     SS::::::SSSSS
//       SSS::::::::SS
//          SSSSSS::::S
//               S:::::S
//               S:::::S
//   SSSSSSS     S:::::S
//   S::::::SSSSSS:::::S
//   S:::::::::::::::SS
//    SSSSSSSSSSSSSSS
//
// -------------------------------------

